.abtSec {
    width: 100vw;
    padding: 7rem 0 0 0;

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;


        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 60%;

            .title {
                font-weight: 700;
                font-size: 2rem;
                align-self: flex-start;
            }

            .text {
                line-height: 1.5rem;
                margin: 20px 0 0 0;
                text-align:start;
                font-size: 1.2em;
            }

            .link {
                align-self:flex-start;
                border: 2px solid white;

                margin: 20px 0 0 0;
                padding: 10px 30px 10px 30px;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: gray;
                }
            }

            .brands {
                width: 100vw;
                display: flex;
                margin: 10% 0 0 0 ;
                
            }

        }
        
    }
}

@media screen and (max-width:768px){
    .abtSec{
        .flexContainer{
            .content{
                width: 80%;
                .title{
                    align-self: center;

                }
                .text{
                    text-align:center;

                }
                .link{
                    align-self: center;

                }
                .brands{
                    flex-direction: column;
                    align-items: center;

                }
            }
        }
    }
}