$font-family1: 'Amatic SC', cursive;
$font-family2: 'Hanken Grotesk', sans-serif;
$font-family3: 'Pacifico', cursive;
.main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
}


@media screen and (max-width:768px){
    .main {
        overflow: hidden;
    }


}