.picSec {
    width: 100%;

    padding: 10px 0 0 0 ;
    

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;


        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .title {
                font-weight: 900;
                font-size: 2rem;

            }

            .hr {
                color: white;
                background-color: white;
                width: 60px;
                height: 2px;
                
            }

            .cards {

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .card {
                    min-width:670px;
                    height: 350px;
                    margin: 40px 0 0 0;

                    background-color: gray;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }


    }
}