.flexContainer {

    width: 100%;
    
    transition: 0.3s;

    .navItems {

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto 1.5rem auto;
        transition: 0.3s;

        .logo {
            width:inherit;
            height: 8rem;
            transition: 0.3s;

        }
        .navLinks {
            width: inherit;
            font-weight: 100;

            display: flex;
            align-items: center;
            justify-content: center;
            text-transform:uppercase;

            > * {
                margin: 0 3rem 0 3rem;
                text-decoration: none;
                color: white;

                font-weight: 100;
            }

            .buggerMenu {
                cursor: pointer;

                > * {
                    display: flex;
                    flex-direction: column;

                    width: 20px;
                    margin: 0 0 3px 0;
                    height: 2px;
                    border-radius: 10px;

                    background-color: aliceblue;
                }
            }
        }




    }
    

}



@media screen and (max-width:768px){
    .flexContainer {
        .navItems {

            margin: 0 40px 0 30px;
            .logo {
                height: 20vh;
            }

            .navLinks {
                display: none;
            }
        }
    }
}