.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-right: 1px solid gray;

    .hr {
        background-color: gray;
        width: 40px;
        height: 2px;
        
    }
}