.brandSec {
    width: 100%;

    padding: 80px 0 100px 0 ;

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 60%;

            .title {
                font-weight: 700;
                font-size: 2rem;
                align-self: flex-start;

            }

            .text {
                line-height: 1.5rem;
                margin: 20px 0 0 0;
                text-align:left;
                font-size: 1.2em;
            }
            
            .link {
                align-self:flex-start;
                border: 2px solid white;

                margin: 20px 0 0 0;
                padding: 10px 30px 10px 30px;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: gray;
                }
            }

        }


    }
    
}

@media screen and (max-width:768px){
    .brandSec {
        .flexContainer {
            .content {
                width: 80%;
                .title {
                    align-self: center;

                }
                .text {
                    text-align: center;

                }
                .link {
                    align-self: center;
                    &:hover {

                    }
                }
            }
        }
    }
}