// .post {
//     display: grid;
//     justify-items: center;
//     align-items: center;

//     .photo {
//         opacity: 0;
//         object-fit: contain;
//         transition: 0.3s;
//     }

//     .photo:hover {
//         opacity: 0.1;
//     }

// }

// .post > * {
//     grid-column-start: 1;
//     grid-row-start: 1;
// }
.post {
    width: 50vw;
    background: url(../../../public/APOST.png);
    background-repeat: no-repeat;
    background-position: center;

    .photo {
        width: 100%;
        height: inherit;
        object-fit: contain;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover {
        .photo {
            opacity: 0.5;
        }
    }
}
