.brandSec {
    width: 100%;

    background-color: black;
    color: white;

    padding: 40px 0 100px 0 ;

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 60%;

            .title {
                font-weight: 900;
                font-size: 2rem;

            }

            .hr {
                color: white;
                background-color: white;
                width: 60px;
                height: 2px;
                
            }

            .text {
                line-height: 1.5rem;
                margin: 20px 0 0 0;
                text-align: center;
            }

            .brands {
                // border: 1px solid gray;
                width: 100vw;
                margin:50px 0 0 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                
            }
        }


    }
    
}