.web {
    width: 50vw;
    background: url(../../../public/AWEB.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    .photo {
        object-fit: contain;
        height: inherit;
        width: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover {
        .photo {
            opacity: 0.5;
        }
    }

}

@media screen and (max-width:768px){
    .web {
        width: 100%;
        .photo {
            &:hover {
                .photo {

                }
            }
        }
    }
}