.post {
    width: 50vw;
    background: url(../../../public/APOST.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;

    .photo {
        width: 100%;
        height: inherit;
        object-fit: contain;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover {
        .photo {
            opacity: 0.5;
        }
    }
}

@media screen and (max-width:768px){
    .post {
        width: 100%;
        .photo {
            &:hover {
                .photo {

                }
            }
        }
    }
}