.web {
    max-width: 50vw;
    height:inherit;
    display: grid;
    justify-items: center;
    align-items: center;

    .photo {
        opacity: 0;
        transition: 0.3s;
    }

    .photo:hover {
        opacity: 0.1;
    }

}

.web > * {
    grid-column-start: 1;
    grid-row-start: 1;
}