$font-family1: 'Amatic SC', cursive;
$font-family2: 'Hanken Grotesk', sans-serif;
$font-family3: 'Pacifico', cursive;
.main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // height: 90vh;
    .vidSec {
        width: 100%;
        height: 83vh;
        position:absolute;
        top: 17vh;
        z-index: 0;

        padding: 60px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        .vid {
            width: 100%;
            height: 450px;            
            // margin:20px 0 0 0;
        }

    }
}


@media screen and (max-width:768px){


}