$font-family1: 'Amatic SC', cursive;
$font-family2: 'Hanken Grotesk', sans-serif;
$font-family3: 'Pacifico', cursive;
.main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
    .vidSec {
        width: 100%;
        height: 83vh;
        z-index: 0;

        // padding: 10px 0 10px 0;
        margin: 17.7vh 0 0 0;
        
        display: flex;
        align-items: center;
        justify-content: center;

        .vid {
            width: 100%;
            height:550px;       
        }

    }
}


@media screen and (max-width:768px){


}