.flexContainer {

    width: 100%;
    max-width: 100vw;
    height: 10vh;
    z-index: 1;
    position:fixed ;

    background-color: black;
    color: white;

    // overflow-y: hidden;

    .navItems {

        height: 10vh;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 100px 0 80px;

        .italic {
            font-size: 0.9rem;
        }

        .linkW {
            transition: 0.3s;
        }
        .linkP {
            transition: 0.3s;
        }
        .linkW:hover {
            color:aqua;
        }
        .linkP:hover {
            color:burlywood;
        }

        .logo {
            width:inherit;
            height:inherit;

        }
    }
    

}


@media screen and (max-width:768px){
    .flexContainer {
        .navItems {

            margin: 0 40px 0 30px;
            // .logo {

            // }
        }
    }
}